@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  font-size: 10px;
}
.header {
  background-color: #442cff99;
  font-size: 4.5rem;
  letter-spacing: 4px;
  text-align: center;
  padding: 10px;
  font-family: monoton;
}
.aeroplane {
  transform: rotate(50deg);
}
.form {
  display: flex;
  background-color: #4989ab;
  align-items: center;
  justify-content: center;
  height: 6rem;
}
.form__heading {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.596);
  text-transform: capitalize;
  margin-right: 2rem;
}
.form input {
  padding: 1rem 1rem;
  border: 0;
  border-radius: 50px;
  margin: 2rem;
  font-size: 1.7rem;
  background-color: #ffffffb3;
}
.form input:focus {
  outline: 0;
}
select {
  width: 50px;
  border: 0;
  border-radius: 50px;
  height: 25px;
  padding: 5px;
  outline: 0;
  background-color: #ffffffb3;
}
.btn {
  padding: 1rem 2rem;
  background-color: #9186eb99;
  color: rgba(255, 255, 255, 0.815);
  border: 0;
  font-size: 1.7rem;
  margin: 0 2rem;
  border-radius: 48px;
  text-transform: uppercase;
}
.list {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.596),
      rgba(78, 67, 67, 0.445)
    ),
    url("./bg-imge.jpg");

  min-height: 64vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  padding-top: 3rem;
  gap: 3rem;
  align-items: flex-start;
  flex-wrap: wrap;
  place-content: baseline;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  margin: 0 5rem;
  color: #ffffffdb;
}
.button {
  background-color: rgba(255, 255, 255, 0.616);
  font-size: 1.7rem;
  border: 0;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
}
.button:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #4989ab;
}
.lineThrough {
  text-decoration: line-through;
}
.listItem {
  font-size: 2rem;
  font-weight: 500;
  word-spacing: 0.5rem;
  /* width: 12rem; */
}
.footer {
  background-color: #4989ab;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 0;
}
